# Virtual environment
.venv/

# Local environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# System files (Mac/Windows)
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.bak
*.tmp

# IDE/editor settings
.idea/
.vscode/

# Compiled bytecode (just in case)
*.so
*.pyd

# Packaging
*.egg-info/
dist/
build/

# Pytest coverage reports
.coverage
htmlcov/
