<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css">
    <style>
        body {
            margin: 2rem auto;
            max-width: 800px;
            padding: 1rem;
        }
    </style>
</head>
<body class="markdown-body">
    <h1>{{ filename }}</h1>
    <article>
        {{ content | safe }}
    </article>
    <br>
    <a href="/download/{{ filename }}">
        <button>📥 Descargar archivo</button>
    </a>
</body>
</html>
